<section class="section items">
  <div class="section__content items__content">
    <div class="items__filter-container">
      <h2 class="items__filter-title">Фильтры</h2>
    </div>
    <div class="items__products">
      <div class="items__products-container">
        <h2 class="items__category-title"></h2>
        <ul class="items__list">
          <li class="items__list-item">
            <div class="items__product">

            </div>
          </li>
          <li class="items__list-item">
            <div class="items__product">

            </div>
          </li>
          <li class="items__list-item">
            <div class="items__product">

            </div>
          </li>
        </ul>
      </div>

      <div class="items__products-container">
        <h2 class="items__category-title"></h2>
        <ul class="items__list">
          <li class="items__list-item">
            <div class="items__product">

            </div>
          </li>
          <li class="items__list-item">
            <div class="items__product">

            </div>
          </li>
          <li class="items__list-item">
            <div class="items__product">

            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
