<nav class="items-nav">
  <ul class="items-nav__list">
    <li class="items-nav__list-item">
      <a class="items-nav__link nav-link" routerLink="/items/new" routerLinkActive="items-nav__link_active">Новое</a>
    </li>
    <li class="items-nav__list-item">
      <a class="items-nav__link nav-link" routerLink="/items/new" routerLinkActive="items-nav__link_active">Пластинки</a>
    </li>
    <li class="items-nav__list-item">
      <a class="items-nav__link nav-link" routerLink="/items/new" routerLinkActive="items-nav__link_active">Кассеты</a>
    </li>
    <li class="items-nav__list-item">
      <a class="items-nav__link nav-link" routerLink="/items/new" routerLinkActive="items-nav__link_active">Проигрыватели</a>
    </li>
  </ul>
</nav>
