/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('assets/fonts/fonts.css');

body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

.button {
  cursor: pointer;
  box-sizing: border-box;
}

.section {
  width: 100%;
  font-family: var(--textFont);
}

.section__content {
  width: 1200px;
  margin: 0 auto 0 auto;
}

:root {
  --primaryColor: #F7EDE2;
  --secondaryColor: #E9C5B4;
  --backgroundColor: #F7EDE2;
  --textColor: #000000;
  --accentColor: #7bcefc;
  --titleFont: 'Ruslan Display', 'Helvetica', sans-serif;
  --textFont: 'Roboto Slab', 'Helvetica', sans-serif;
  max-width: 2000px;
  margin: 0 auto 0 auto;
  background-color: var(--backgroundColor);

}

[data-theme="dark"] {
  --primaryColor: #16212C;
  --secondaryColor: #502B2E;
  --backgroundColor: #0E1217;
  --textColor: #EAE3D2;
  --accentColor: #FFA726;
}
