/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('assets/fonts/fonts.css');

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.nav-link {
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-link:hover {
	transform: translateY(-2px);
	opacity: .7;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

.button {
  cursor: pointer;
  box-sizing: border-box;
}

.section {
  width: 100%;
  font-family: var(--textFont);
}

.section__content {
  width: 1200px;
  margin: 0 auto 0 auto;
}

:root {
  --backgroundColor: #F7EDE2;
  --secondaryColor: #FFF9F9;
  --textColor: #000000;
  --blueColor: #7bcefc;
  --orangeColor: #FFCF69;
  --titleFont: 'Ruslan Display', 'Helvetica', sans-serif;
  --textFont: 'Roboto Slab', 'Helvetica', sans-serif;
  max-width: 2000px;
  /* width: 100%; */
  margin: 0 auto 0 auto;
  background-color: var(--backgroundColor);

}

[data-theme="dark"] {
  --primaryColor: #16212C;
  --secondaryColor: #502B2E;
  --backgroundColor: #0E1217;
  --textColor: #EAE3D2;
  --accentColor: #FFA726;
}
