<section class="section home">
  <div class="home__content section__content">
    <div class="home__text">
      <h1 class="home__title">Создайте свою <span class="home__title_span">музыкальную</span> коллекцию</h1>
      <div class="home__description-container">
        <p class="home__description">
          Виниловые проигрыватели, пластинки и кассеты добавляют нотку ретро-шарма и стиля в интерьер, создавая уютную и атмосферную обстановку.
        </p>
        <button (click)="onButtonClick()" class="home__button button">Купить</button>
      </div>
    </div>
    <div class="home__img-container"></div>
  </div>
</section>
<app-categories></app-categories>