<section class="home">
  <div class="home__info">
    <div class="home__text">
      <h1 class="home__title">Создайте свою <span class="home__title_span">музыкальную</span> коллекцию</h1>
      <div class="home__description-container">
        <p class="home__description">
          Виниловые проигрыватели, пластинки и кассеты добавляют нотку ретро-шарма и стиля в интерьер, создавая уютную и атмосферную обстановку.
        </p>
        <p-button label="Купить" class="home__button"/>
      </div>
    </div>
    <div class="home__img-container">

    </div>
  </div>
</section>
