<section class="item-page">
  <div class="item-page__content">
    <div class="item-page__image-container">
      <img class="item-page__image" src="" alt=""/>
    </div>
    <div class="item-page__info">
      <h2 class="item-page__title"></h2>
      <div class="item-page__price-container">
        <p class="item-page__price"></p>
        <div class="item-page__rating-container">
          <img class="item-page__rating-icon" src="" alt="" />
          <p class="item-page__rating"></p>
        </div>
        <button class="item-page__button item-page__button_add">Добавить</button>
      </div>
    </div>
  </div>
</section>
