<header class="header">
    <div class="header__container">
        <a routerLink="" class="link header__logo-link">
            <img src="assets/images/icon.svg" alt="Логотип" class="header__logo" />
        </a>
        <ul class="header__list">
            <li class="header__list-item">
                <a class="header__link" routerLink="">Главная</a>
            </li>
            <li class="header__list-item">
                <a class="header__link" routerLink="/items">Товары</a>
            </li>
            <!-- <li class="header__list-item">
                <a class="header__link">О Доставке</a>
            </li> -->
            <li class="header__list-item">
                <a class="header__link" routerLink="/events">Акции</a>
            </li>
        </ul>
        <div class="header__list  header__list_right">
            <input 
                class="header__input" 
                placeholder="Поиск"
            />
            <button></button>
        </div>
    </div>
</header>
