.header {
	width: 1200px;
    /* height: 70px; */
    /* background-color: var(--primaryColor); */
    /* border-bottom: 2px solid var(--secondaryColor); */
    color: var(--textColor);
    /* padding: 0 100px; */
    margin: 0 auto 95px auto;
	padding-top: 30px;


}

.header__container {
	display: flex;
	align-items: center;
	gap: 15px;
	/* border: 1px solid red; */
}


.header__logo-link {
	line-height: 0;
	margin-right: 150px;
}

.header__logo {
    width: 45px;
    height: 45px;
}

.header__list {
	display: flex;
	align-items: center;
	gap: 40px;
	height: 45px;
}

.header__list_right {
	margin-left: auto;
}

.header__list-item {
	height: 100%;
}

.header__link {
	display: flex;
	align-items: center;
	height: 100%;
	font-family: var(--textFont);
	font-size: 22px;
	color: #000000;
	border-radius: 5px;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.header__link:hover {
	transform: translateY(-1px);
	opacity: .7;
}

.header__input {
	width: 268px;
	height: 100%;
	box-sizing: border-box;
	border-radius: 20px;
	padding-left: 20px;
	font-family: var(--textFont);
	font-size: 18px;
	border:  1px solid #000000;
}
