.header {
	width: 100%;
	/* height: 70px; */
	/* background-color: var(--primaryColor); */
	/* border-bottom: 2px solid var(--secondaryColor); */
	color: var(--textColor);
	/* padding: 0 100px; */
}

.header__container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.header__first-level {
	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--secondaryColor);
	box-sizing: border-box;
	padding: 0 100px;
}

.header__second-level {
}

.header__logo-link {
	line-height: 0%;
	margin-right: 100px;
}

.header__logo {
	width: 45px;
	height: 45px;
}

.header__input_search {
	height: 35px;
	box-sizing: border-box;
	padding-left: 20px;
	color: var(--textColor);
	border-radius: 10px;
	border-color: var(--secondaryColor);
}

.header__input_search:focus,
.header__input_search:active,
.header__input_search:hover {
	border-color: var(--secondaryColor);
}

::ng-deep .p-tabmenu {
	width: 100%;
}

::ng-deep .p-tabmenu .p-tabmenu-nav,
::ng-deep .p-tabmenu .p-menuitem-link {
	color: var(--textColor);
	font-family: "Roboto Slab", "Arial", sans-serif;
	font-weight: 400;
	font-size: 18px;
	background-color: transparent;
	border: none;
	/* border: solid var(--secondaryColor);; */
	/* border-width: 0 0 2px 0; */
	/* border-color: transparent transparent var(--secondaryColor) transparent; */
}

::ng-deep .p-tabmenu .p-menuitem-link:hover,
::ng-deep
	.p-tabmenu
	.p-tabmenu-nav
	.p-tabmenuitem.p-highlight
	.p-menuitem-link {
	/* color: var(--secondaryColor);  */
	text-decoration: none;
	/* border-bottom: 2px solid var(--secondaryColor);  */
	border-bottom: none;
	background-color: rgba(0, 0, 0, 0.1);
}

::ng-deep .p-megamenu-horizontal {
	display: flex;
	justify-content: space-between;
}
